#container {
    /*width: 100%;*/
    /* Full width of the screen */
    /*display: flex;*/
    justify-content: center;
    min-width: 750px;
}

.innerContainer {
    /*width: 100%;*/
    /* Make the container take full width */

}

/*.graphDiv, .legendDiv{
}*/



/*
.graphSVG, .legendSVG {
    width: 100%;
    height: auto;
}*/


.leftAxis, .bottomAxis {
    font-size: 2vmin; /* Changed */
}

/* ToolTip */

.labelText {
    font-size: 2vmin;
    font-weight: bold;
    stroke: none;
}

.tooltipTitle {
    font-size: 3vmin;
    text-anchor: middle;
}


/* Legend */
.legend-background{
    fill: #DCD0FF;
    fill-opacity: 0.2;
    rx: 8px;
    ry: 8px;
}

.legend-circle {
    cx: 7px;
    cy: 5px;
    r: 3px;
}

.legend-text {
    font-size: 2.5vmin; 
    dominant-baseline: middle;

}

/* Title */
.title-text{
    font-size: 3.5vmin; 
    dominant-baseline: middle;
    text-anchor: middle;
    font-weight: bold;

}
