#container {
    width: 100%;
    display: flex;
    justify-content: center;
    /*font-size: xx-small;*/

}

.innerContainer {
    width: 100%; /* Make it responsive */
    justify-content: center;
    /*font-size: medium;*/
    /*max-width: 1640px; /* Prevent it from getting too wide */
}

/*
.graphDiv, .legendDiv {
    width: 100%;
  
}
*/

/*
.graphSVG, .legendSVG {
    width: 100%;
    height: auto;
}*/


.leftAxis, .bottomAxis {
    font-size: 2vmin; /* Changed */     
}

/* ToolTip */

.labelText {
    font-size: 2vmin;
    font-weight: bold;
    stroke: none;
}

.tooltipTitle {
    font-size: 3vmin;
    text-anchor: middle;
}


/* Legend */
.legend-background{
    fill: #DCD0FF;
    fill-opacity: 0.2;
    rx: 8px;
    ry: 8px;
}

.legend-circle {
    cx: 7px;
    cy: 5px;
    r: 3px;
}

.legend-text {
    font-size: 2.5vmin; /* Scales with both width and height */
    dominant-baseline: middle;
    
}